@import url('https://fonts.googleapis.com/css?family=Lato');

/* ---------------
    GLOBAL STYLES
   --------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: "Lato";
    gap: 15px;
}

p{
    margin: .2em;
    text-align: center;
    color: white;
}

/* ---------------
      TYPOGRAPHY
   --------------- */

button{
    font-family: inherit;
    color: white;
    font-weight: 900;
    font-size: 1rem;
}

a{
    color: #777;
    text-decoration: none;
}

a:hover{
    color: #888;
}

/* ---------------
        LAYOUT
   --------------- */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 400px; height: 400px;
    flex-shrink: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5px;
}

/* ---------------
     COMPONENTS
   --------------- */

button{
    border: none;
    padding: .5em 1em;
    cursor: pointer;
    background-color: #666;
    text-shadow: 0px 0px 2px #000;
}

button:hover{
    background-color: #555;
}

#random{
    background-image: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: 500%;
}

#random:hover{
    animation: btn-animation 5s infinite alternate;
}

@keyframes btn-animation{
    0% {background-position: left;}
    100% {background-position: right;}
}